{{ $disableImageOptimization := .Page.Site.Params.disableImageOptimization | default false }}
{{ with .Params.externalUrl }}
<a href="{{ . }}" target="_blank" rel="external noopener" class="min-w-full group">
  {{ else }}
  <a href="{{ .RelPermalink }}" class="min-w-full group">
    {{ end }}
    <div class="min-h-full danicat-card overflow-hidden relative flex flex-col">

      {{- $images := $.Resources.ByType "image" -}}
      {{- $featured := $images.GetMatch "*feature*" -}}
      {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
      {{ if and .Params.featureimage (not $featured) }}
      {{- $url := .Params.featureimage -}}
      {{ $featured = $.Resources.GetMatch $url }}
      {{- if not $featured }}{{ $featured = resources.GetRemote $url }}{{ end -}}
      {{ end }}
      {{- if not $featured }}{{ with .Site.Params.defaultFeaturedImage }}{{ $featured = resources.Get . }}{{ end }}{{ end -}}
      {{ if .Params.hideFeatureImage }}{{ $featured = false }}{{ end }}
      {{- with $featured -}}
      {{ if or $disableImageOptimization (strings.HasSuffix $featured ".svg") }}
        {{ with . }}
        <div class="w-full aspect-video thumbnail_card nozoom overflow-hidden bg-neutral-100 dark:bg-neutral-900 border-b border-neutral-200/60 dark:border-neutral-700/60">
          <img src="{{ .RelPermalink }}" loading="lazy" decoding="async" alt="{{ $.Title }}" class="not-prose w-full h-full object-cover nozoom">
        </div>
        {{ end }}
      {{ else }}
        {{ with .Resize "600x" }}
        <div class="w-full aspect-video thumbnail_card nozoom overflow-hidden bg-neutral-100 dark:bg-neutral-900 border-b border-neutral-200/60 dark:border-neutral-700/60">
          <img src="{{ .RelPermalink }}" loading="lazy" decoding="async" alt="{{ $.Title }}" class="not-prose w-full h-full object-cover nozoom">
        </div>
        {{ end }}
      {{ end }}
      {{- end -}}

      {{ if and .Draft .Site.Params.article.showDraftLabel }}
      <span class="absolute top-0 right-0 m-2">
        {{ partial "badge.html" (i18n "article.draft" | emojify) }}
      </span>
      {{ end }}

      <div class="px-6 py-4 flex flex-col flex-grow">

        {{ with .Params.externalUrl }}
        <div>
          <h3 class="font-bold text-xl text-neutral-800 dark:text-neutral group-hover:text-primary-600 dark:group-hover:text-primary-400 decoration-primary-500 hover:underline hover:underline-offset-2">
            {{ $.Title | emojify }}
            <span class="text-xs align-top cursor-default text-neutral-400 dark:text-neutral-500">
              <span class="rtl:hidden">&#8599;</span>
              <span class="ltr:hidden">&#8598;</span>
            </span>
          </h3>
        </div>
        {{ else }}
        <h3 class="font-bold text-xl text-neutral-800 dark:text-neutral group-hover:text-primary-600 dark:group-hover:text-primary-400 decoration-primary-500 hover:underline hover:underline-offset-2">{{ .Title | emojify }}</h3>
        {{ end }}

        <div class="mt-1 text-sm text-neutral-500 dark:text-neutral-400">
          {{ partial "article-meta/basic.html" . }}
        </div>

        {{ if .Params.showSummary | default (.Site.Params.list.showSummary | default false) }}
        <div class="py-1 prose dark:prose-invert line-clamp-3 text-base text-neutral-600 dark:text-neutral-300">
          {{ .Summary | plainify }}
        </div>
        {{ end }}
      </div>
    </div>
  </a>
