{{/*
  Shortcode: notice
  Description: Renders a notice banner for machine-translated articles.
  Parameters: None
*/}}

<div class="notice-banner">
  <div class="notice-banner-content">
    <p><strong>{{ i18n "attention" }}:</strong> {{ i18n "machineTranslated" }}
      {{ range .Page.Translations }}
        {{ if eq .Lang "en" }}
          <a href="{{ .Permalink }}">{{ i18n "originalArticle" }}</a>.
        {{ end }}
      {{ end }}
      {{ $issueTitle := printf (i18n "reportIssueTitle") .Page.Title | urlize }}
      {{ i18n "reportIssue" }} <a href="https://github.com/danicat/danicat.dev/issues/new?title={{ $issueTitle }}" target="_blank" rel="noopener noreferrer">{{ i18n "reportIssueLink" }}</a>.
    </p>
  </div>
</div>

<style>
  .notice-banner {
    border: 1px solid #fca5a5; /* red-300 */
    border-radius: 0.5rem;
    margin: 1.5em 0;
    overflow: hidden;
    background-color: #fff1f2; /* rose-50 */
    padding: 1rem;
  }

  .notice-banner-content p {
    margin: 0;
    font-size: 0.875rem;
    color: #b91c1c; /* red-700 */
  }

  .notice-banner-content a {
    color: #b91c1c; /* red-700 */
    text-decoration: underline;
  }

  .notice-banner-content a:hover {
    color: #991b1b; /* red-800 */
  }
</style>
